Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      SourceSecurityGroupName: {"Fn::GetAtt" : ["AWSEBLoadBalancer" , "SourceSecurityGroup.GroupName"]}
#  LBlSecurityGroupIngress:
#    Type: AWS::EC2::SecurityGroupIngress
#    Properties:
#      GroupId: {"Fn::GetAtt" : ["AWSEBLoadBalancerSecurityGroup", "GroupId"]}
#      IpProtocol: tcp
#      ToPort: 443
#      FromPort: 443
#      CidrIp: 176.37.57.203/32
#  AWSEBSecurityGroup:
#    Type: "AWS::EC2::SecurityGroup"
#    Properties:
#      GroupId: {"Fn::GetAtt" : ["AWSEBLoadBalancerSecurityGroup", "GroupId"]}
#      SecurityGroupIngress:
#        - {CidrIp: "176.36.195.153/32", IpProtocol: "tcp", FromPort: "443", ToPort: "443"}
#        - {CidrIp: "176.36.195.153/32", IpProtocol: "tcp", FromPort: "80", ToPort: "80"}